streamlit==1.37.0
langchain==0.2.15
langchain-community==0.2.15
langchain-text-splitters==0.2.2

faiss-cpu==1.8.0.post1

unstructured==0.15.10
unstructured[pdf]
pdf2image==1.17.0

pypdf==4.2.0

requests==2.32.3

python-magic==0.4.27
python-magic-bin; sys_platform == 'win32'

duckduckgo-search==4.4.0   # only needed if you use DDG search tools anywhere
